<h1>Productos:</h1>

<% @products.each do |product| %>
  <div class='product'>
    <h2><%= product.title %></h2>
    <p><%= product.price %>$</p>
    <%= link_to product_path(product.id) do %>
      <button type="button">View Product</button>
    <% end %>
  </div>
<% end %>